<div class="box dark">
	<header>
		<div class="icons">
			<a class="glyphicon glyphicon-arrow-left btn" ui-sref="anon.login" title="Atrás"></a>
		</div>
		<div>
			<h5>Le cordon Bleu Perú</h5>
		</div>
	</header>
</div>
<div class="row body" ng-class=" cursorLoading: cargando">
	<div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" ng-show="hasError">
		<h2 class="hidden-xs">{{mensajeError}}</h2>
		<h3 class="visible-xs">{{mensajeError}}</h3>
	</div>
	
	<div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" ng-show="!hasError">
		<form id="form-display" class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

			<div class="form-group"  >
				<label class="control-label" for="nvaClave">Nueva contraseña:</label>
				<div >
				<input class="form-control " type="password" id="nvaClave" name='nvaClave' ng-model="nuevaClave" required>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : diferentes && !userForm.repNvaClave.$pristine }" >
				<label class="control-label" for="repNvaClave">Repita nueva contraseña: </label>
				<div>
				<input class="form-control " type="password" id="repNvaClave" name="repNvaClave" ng-model="repiteNvaClave" required>
				<p ng-show="diferentes" class="help-block">Por favor vuelva a digitar y guarde.</p>
				</div>
			</div>
			<div>
				<button id="btnMsg" type="button" class="btn btn-lg btn-primary col-lg-offset-3 col-xs-offset-3" ng-click="guardarNvaClave(nuevaClave,repiteNvaClave)" ng-disabled="userForm.$invalid">Guardar
				</button>     

				<!--bs-alert="alert" data-duration="10000" data-placement="top-right"-->   
			</div>
			<div id="changePasswordMessage">
			</div>
		</form>
	</div>
</div>