<table class="table table-bordered centerElement" ng-show = "alumnos != null  && notaDisP != null" >
    <thead >

    	<tr>
    		<th class="centerElement col-lg-1" style="vertical-align: middle;" rowspan="2"> N° </th>
    		<th class="centerElement col-lg-1" style="vertical-align: middle;" rowspan="2"> Foto </th>
    		<th class="centerElement col-lg-1" style="vertical-align: middle;" rowspan="2"> Código </th>
    		<th class="centerElement col-lg-2" style="vertical-align: middle;" rowspan="2"> Alumno </th>
    		<th class="centerElement col-lg-6" style="vertical-align: middle;" colspan="{{nroPrPractica}}" > Prácticas </th>	        
	        <th class="centerElement col-lg-1" style="vertical-align: middle;" rowspan="2"> Promedio </th>
    	</tr>
    	<tr>
	    	<th class="centerElement col-lg-1" ng-repeat="n in practicasP[alumnos[0].id]" style="vertical-align: middle; width:{{50/nroPrPractica}}%;">
	    		{{$index+1}}
	    	</th>
    	</tr>
    	
    </thead>
    <tbody>
        <tr ng-repeat="a in alumnos" ng-show="a.practica">
        	<td style="vertical-align: middle; font-weight:bold">
                {{$index+1}}
            </td>
            <td style="vertical-align: middle" >
                <div class="profile-photo-data">
                
                    <div>
                        <img fallback-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSAw_zNXJxm5-lrB1nS1C4Apck21EaLYlfxiMqucd2N9HCqu6G-Qw" style="width:40px; height:100%" class="img-responsive"
                          ng-src="{{nalumnos[$index].aiAlumnoCarrera.aiAlumno.urlFoto}}"/>
                          <span class="pr" ng-class="{pr:imagenPosicion($index)}" style="width:160px; height:220px">
                          <img fallback-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSAw_zNXJxm5-lrB1nS1C4Apck21EaLYlfxiMqucd2N9HCqu6G-Qw" class="img-responsive" style="width:160px; height:200px"
                          ng-src="{{nalumnos[$index].aiAlumnoCarrera.aiAlumno.urlFoto}}"/>
                          </span>
                    </div>
                </div>
            </td>
            <td style=" font-size:10px; vertical-align: middle ; font-weight:bold">
                {{nalumnos[$index].aiAlumnoCarrera.aiAlumno.aiAlumnoReg.codigo}}
            </td>
            <td style="vertical-align: middle ">{{nalumnos[$index].aiAlumnoCarrera.aiAlumno.apellidoPaterno}} {{nalumnos[$index].aiAlumnoCarrera.aiAlumno.apellidoMaterno}}, {{nalumnos[$index].aiAlumnoCarrera.aiAlumno.nombre}}</td>
        	<td ng-repeat="t in practicasP[a.idAlumnoMatriculaCurso]" style="vertical-align: middle">
        		<input type="text" name="input{{a.id}}T{{$index+1}}" ng-model="t.nota" style="padding-left:9%; padding-right:0px" ng-Change="insertNotaDetalle(a,t.nota,$index,'2')" 
                ng-disabled="notaDisP[a.idAlumnoMatriculaCurso][$index].nota != null" >
        	</td>
        	<td class="centerElement col-lg-1" ng-class="{notaAprobada: aprobado(a.aiAlumnoMatriculaCursoNota.promPracticaP), notaDesaprobada: !aprobado(a.aiAlumnoMatriculaCursoNota.promPracticaP)}" style="vertical-align: middle; font-weight: bold">
	       		{{a.aiAlumnoMatriculaCursoNota.promPracticaP}}
	       	</td>
        </tr>
    </tbody>
</table>