<div class="container" >
    <form class="form-horizontal" id="form-display" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

        <div class="row control-group">
            <!--Primera Columna de Datos-->
            <div class="col-lg-offset-2 col-md-4 col-sm-6 col-xs-12">

                <div class="form-group" ng-class="{ 'has-error' : invalidClaveAntigua && !userForm.claveActual.$pristine}">
                    <label class="control-label" for="claveActual">Contraseña actual</label>
                    <div>
                        <input class="form-control" type="password" id="claveActual" name="claveActual" ng-blur="verificarClave(inputClave)" ng-model="inputClave" ng-required="true" autocomplete="off">
                        <p ng-show="invalidClaveAntigua" class="help-block">Clave incorrecta.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.nvaClave.$invalid && !userForm.nvaClave.$pristine }" >
                    <label class="control-label" for="pwd">Nueva contraseña</label>
                    <div >
                        <input class="form-control " type="password" id="pwd" name='pw' ng-model="nvaClave" required>
                        <!--<ul id="strength" check-strength="nvaClave"></ul>-->
                        <p ng-show="userForm.nvaClave.$invalid && !userForm.nvaClave.$pristine" class="help-block">El campo es requerido.</p>
                    </div>
                     
                </div>
                <div class="form-group" ng-class="{ 'has-error' : diferentes && !userForm.repNvaClave.$pristine }" >
                    <label class="control-label" for="repNvaClave">Repita nueva contraseña</label>
                    <div>
                        <input class="form-control " type="password" id="repNvaClave" name="repNvaClave" ng-model="repiteNvaClave"required>
                        <p ng-show="diferentes" class="help-block">Por favor vuelva a digitar y guarde.</p>
                    </div>
                </div>
                <div>
                    <button id="btnMsg" type="reset" class="btn btn-lg btn-primary col-lg-offset-3 col-xs-offset-3" ng-click="guardarNvaClave(nvaClave,repiteNvaClave)" data-container="#profile-messages" ng-disabled="userForm.$invalid">Guardar
                    </button>     
                </div>

            </div>
        </div>
    </form>
</div>