<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 45%;font-size: 8pt;">
    <div class="modal-content" >
      
      <div class="modal-body" style="padding-bottom: 0px;">
              <div class="hidden-xs">
                <h2>Operación exitosa</h2>
              </div>  
              <div class="hidden-xs">
                <h3>{{successMessage}}</h3>
              </div>
              <!--Table with responsive components-->
              <div class="visible-xs" >
                <h4>Operación exitosa</h4>
              </div>
              <div class="visible-xs" >
                <h5>{{successMessage}}</h5>
              </div>

      </div>

      <div class="modal-footer hidden-xs">
        <button type="button" class="btn btn-default" ng-click="$hide()" ui-sref="anon.login">Cerrar</button>
      </div>

      <div class="modal-footer visible-xs" style="width:95%;">
        <button type="button" class="btn btn-default btn-sm" ng-click="$hide()" ui-sref="anon.login">Cerrar</button>
      </div>

    </div>
  </div>
</div>